
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #a7eab6; 
}

.pantalla-fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.login-window {
    background-color: #ffffff;
    width: 100%;
    max-width: 900px;
    height: 550px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}


.window-header {
    background-color: #f1f5f9;
    padding: 10px 15px;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #e2e8f0;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #cbd5e1;
    border-radius: 50%;
}


.window-content {
    display: flex;
    flex: 1; 
}


.left-side {
    width: 50%;
    background-size: cover; 
    background-position: center top;
    background-repeat: no-repeat;
}

.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-container {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.brand-title {
    font-family: 'Lora', serif;
    color: #1a3b66; 
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 15px;
}

.form-subtitle {
    color: #333333;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 600;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    left: 10px;
    color: #333;
    font-size: 1.1rem;
}

.input-group input {
    width: 100%;
    padding: 12px 10px 12px 40px; 
    border: 1px solid #e2e8f0; 
    border-radius: 4px;
    font-size: 0.95rem;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #5b99ff;
}

.toggle-password {
    position: absolute;
    right: 10px;
    bottom: -25px; 
    color: #333;
    cursor: pointer;
    font-size: 1.1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.btn-login {
    background-color: #5b99ff; 
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 60%; 
}

.btn-login:hover {
    background-color: #4a84e6;
}